POSTGRES_DB=techstock_db
POSTGRES_USER=techstock_user
POSTGRES_PASSWORD=techstock_pass
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/techstock_db
DB_USERNAME=techstock_user
DB_PASSWORD=techstock_pass
