IMAGE_URI=<aws_account_id>.dkr.ecr.<region>.amazonaws.com/prueba-redes:latest

SPRING_PROFILES_ACTIVE=prod
JPA_DDL_AUTO=update
SERVER_HTTP2_ENABLED=false
JAVA_TOOL_OPTIONS=-XX:+UseSerialGC -Xms128m -Xmx256m -XX:MaxMetaspaceSize=128m -XX:+ExitOnOutOfMemoryError -Djava.security.egd=file:/dev/./urandom

POSTGRES_DB=techstock_db
POSTGRES_USER=techstock_user
POSTGRES_PASSWORD=cambia_esta_clave

DB_POOL_MAX_SIZE=3
DB_POOL_MIN_IDLE=1
JETTY_THREADS_MAX=30
JETTY_THREADS_MIN=4

CORS_ALLOWED_ORIGINS=https://tu-frontend.vercel.app
